.aline11{
    margin-top: 25px;
}




.card {
    width: 400px;
    border: 1px solid #fff9f9;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    margin: 10px;
    margin-left: 400px;
  }
  
  .card-header {
    background-color: #484646;
    padding: 16px;
    text-align: center;
  }
  
  .card-header .text-header {
    margin: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  
  .card-body {
    padding: 16px;
    background-color: white;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="int"],
  .form-group input[type=""] {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #8c8a8a;
    border-radius: 4px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #ccc;
    color: #333;
  }
