.nav2{
	background-color:  rgba(0, 0, 0, 0.781); ;
	width: 300px;
    margin-top: 0%;
    margin-left: 0%;
    border-radius: 20px;
    

    
	
}
body{
    background-color: rgb(169, 177, 177);
  }

